<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LoyalFoundry.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3169CBE9ACD0EC8A80193E4F428F71EFDF2CE6CF</string>
				<key>dateExpires</key>
				<string>29/10/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3169CBE9ACD0EC8A80193E4F428F71EFDF2CE6CF</string>
						<key>dateExpires</key>
						<string>29/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KGZW38PR5F</string>
						<key>name</key>
						<string>Incubex IT Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3169CBE9ACD0EC8A80193E4F428F71EFDF2CE6CF</string>
						<key>dateExpires</key>
						<string>29/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KGZW38PR5F</string>
						<key>name</key>
						<string>Incubex IT Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3169CBE9ACD0EC8A80193E4F428F71EFDF2CE6CF</string>
						<key>dateExpires</key>
						<string>29/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KGZW38PR5F</string>
						<key>name</key>
						<string>Incubex IT Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3169CBE9ACD0EC8A80193E4F428F71EFDF2CE6CF</string>
						<key>dateExpires</key>
						<string>29/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KGZW38PR5F</string>
						<key>name</key>
						<string>Incubex IT Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3169CBE9ACD0EC8A80193E4F428F71EFDF2CE6CF</string>
						<key>dateExpires</key>
						<string>29/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KGZW38PR5F</string>
						<key>name</key>
						<string>Incubex IT Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KGZW38PR5F.com.geoNet.LoyalFoundry</string>
				<key>com.apple.developer.team-identifier</key>
				<string>KGZW38PR5F</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>KGZW38PR5F.com.geoNet.LoyalFoundry</string>
				</array>
			</dict>
			<key>name</key>
			<string>LoyalFoundry.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>00b7aed1-e661-4653-906f-ae9ec86f49ce</string>
				<key>dateExpires</key>
				<string>18/04/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KGZW38PR5F</string>
				<key>name</key>
				<string>Incubex IT Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
